@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.serv {
    width: 100%;
    .wra {
        width: 90%;
        margin: auto;
        p {
            color: red;
        }
    }
}